<html>
<body>
<!--{#local#}-->

<!--<form action="http://localhost:10000/api/gaze-detection/classify-image" method="POST" enctype="multipart/form-data">-->
    <!--<input type="file" name="face_image"/>-->
    <!--<input type="submit" , value="Submit to local server"/>-->
<!--</form>-->


{#server#}
<form action="http://62.151.183.166/api/gaze-detection/classify-image" method="POST" enctype="multipart/form-data">
<!--<form action="http://142.93.212.199:10000/api/gaze-detection/classify-image" method="POST" enctype="multipart/form-data">-->
<!--<form action="http://localhost:10000/api/gaze-detection/classify-image" method="POST" enctype="multipart/form-data">-->
    <input type="file" name="face_image"/>
    <input type="submit" , value="Submit to remote server"/>
</form>


</body>
</html>